.container {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0;
    }
}

.backBtn {
    margin-bottom: 24px;
    padding: 8px 12px;
    border: 1px solid #0473e9;
    background-color: #fdfdfd;
    cursor: pointer;
}

.title {
    font-size: 32px;
    color: #fdfdfd;
    margin-bottom: 16px;
}

.sectionTitle {
    font-size: 24px;
    color: #fdfdfd;
    margin-top: 32px;
    margin-bottom: 16px;
}

.infoLinks {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 24px;
}

.infoLinks a {
    color: #0473e9;
    text-decoration: none;
}

.infoLinks a:hover {
    color: #fdfdfd;
}

.goBackBtn {
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    background-color: #fdfdfd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 250ms ease, color 250ms ease;
    margin-bottom: 24px;
}

.goBackBtn:hover,
.goBackBtn:focus {
    background-color: #0473e9;
    color: #fdfdfd;
}

.additionalTitle {
    font-size: 28px;
    color: #fdfdfd;
    margin-bottom: 12px;
}

.additionalLinks {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-left: 0;
    margin-bottom: 16px;
}

.link {
    text-decoration: none;
    color: #fdfdfd;
    font-size: 16px;
    transition: color 0.3s;
}

.link:hover {
    color: #0473e9;
}