.section {
    padding: 80px 0;
    color: white;
}

.container {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0;
    }
}

.title {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
    color: white;
    /* Страница не найдена — белым */
}

.text {
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
    color: #ccc;
}

.link {
    display: inline-block;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    /* белый фон */
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 500;
}

.link:hover {
    background-color: #007bff;
    /* голубой */
    color: #fff;
}

.banner {
    width: 100%;
    max-width: 1200px;
    /* ширина 1200px */
    height: auto;
    object-fit: cover;
    margin: 40px auto 0;
    border-radius: 12px;
    display: block;
}